    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <h1>
            
          </h1>
          <h3>Welcome to USA Soy Solutions</h3>
          <p>Your source for biobased lubricants and greases.</p>

          <p>Our products are based on exclusive biobased technology, formulated with renewable, biodegradable USA-grown vegetable oils. These lubricants and greases are environmentally friendly and meet or exceed industry standards. These products are supplied to us by <a href="http://www.elmusa.com/" title="Environmental Lubricants Manufacturing Inc" target="_blank" data-ytta-id="-">Environmental Lubricants Manufacturing, Inc.</a> the leading provider of biobased lubricants and greases.</p>

          <p>
            <a href="http://www.biopreferred.gov/bioPreferredCatalog/faces/jsp/catalogLanding.jsp;jsessionid=0E1F72BAE74C3771F9D0380B919C0E9C" title="USA Soy Solutions USDA page" target="_blank">USA Soy Solutions USDA page</a>
          </p>
          <a class="btn btn-primary btn-lg" href="/store">Visit the store!</a>
        </div>
        <div class="col-lg-6">
          <%= image_tag 'bg_home-customer-type-standard.jpg', class: 'img-responsive img-rounded' %>
        </div>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">
            <h4>Give us a call today! 877-SOY-OIL1 (877-769-6451)</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Heading 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices neque, nec bibendum arcu ipsum eget justo.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>Heading 2</h2>
          <p>Phasellus vestibulum sagittis purus laoreet varius. Pellentesque malesuada malesuada mattis. Aliquam sed porta nisi, eget suscipit dolor. Nam ipsum sapien, rhoncus eu leo eu, ultricies pellentesque tellus.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
        <div class="col-lg-4">
          <h2>Heading 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices neque, nec bibendum arcu ipsum eget justo.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>
      </div>
      
      <footer>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013 &middot; Facebook &middot; Twitter &middot; Google+</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->